.heading {
    border-bottom: 1px solid #ececec;
}

.heading-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.contact-title {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.menu-item:not(:last-child) {
    margin-right: 50px;
}

.title-logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.title-logo-color {
    color: var(--primary-text-color);
}

.menu-list-link {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
        color: var(--primary-accent-color);
    }
}

.contact-title-item:not(:last-child) {
    margin-right: 30px;
}

.contact-title-link {
    display: flex;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--primary-accent-color);
    }
}

.contact-title-icon {
    fill: currentColor;
    margin-right: 10px;
}